@charset "UFT-8"; @import url(fonts.css);

:root{
    --cor1:#05F2F2;
    --cor2:#0583F2;
    --cor3:#035AA6;
    --cor4:#023059;
    --cor5:#011526;

    --fonte-padrao:"Mulish", sans-serif;
    --fonte-destaque: "Play", sans-serif;
    --fonte-titulo:"Merriweather Sans", sans-serif;
    --fonte-titulo-header:"Protest Guerrilla", sans-serif;
    --fonte-titulo-tabela:"Kanit", sans-serif;
    --fonte-numeros-tabela:"Roboto Mono", monospace;
    --fonte-texto-tabela:"Rubik", sans-serif;
}

@media print{
    html{
        font-family: 'Courier New', Courier, monospace;
        line-height: 1.5;
    }
    
    header > h1{
        color: black;
        font-size: 2.5em;
        text-align: center;
        font-weight: bold;
    }
    
    header > p{
        color: black;
        font-size: 1.2em;
        font-weight: 500;
        text-align: center;
        margin-top: -30px;
        margin-bottom: 30px;
    }
    
    nav{
        display: none;
    }
    
    .paragrafos > a{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    
    .videos{
        display: none;
    }
    
    aside{
        display: none;
    }
    
    #caixa-informação{
        display: none;
    }
    
    iframe{
        display: none;
    }
    
    #paragrafo-footer > a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

}

@media screen and (min-width:481px) and (max-width:768px){
    header > h1{
        font-size: 2.5em;
        letter-spacing: 1px;
    }

    header > p{
        font-size: 18px;
    }

    nav{
        padding:17px ;
    }
    
    nav > a{
        font-size: 19px;
    }

    nav > a:hover{
        background-color: #0583f2d5;
        color: #000000;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459);
        padding: 7px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .paragrafos{
        font-size: 1.2em;
    }

    section.imagens > .primeiro-titulo-h1{
        font-size: 1.8em;
        text-indent: 25px;
        letter-spacing: 2px;
    }

    section.imagens > .segundo-titulo-h2{
        font-size: 1.5em;
    }

    #terceiro-titulo-h1{
        font-size: 1.8em;
    }

    #quarto-titulo-h1{
        font-size: 1.8em;
    }

    aside > .quarto-titulo-h3{
        font-size: 1.8em;
    }

    aside > .paragrafo-aside{
        font-size: 1.2em;
    }

    abbr{
        font-size: 1.2em;
    }

    #titulo-tabela{
        font-size: 1.5em;
        letter-spacing: 1px;
    }
}

@media screen and (min-width:769px) and (max-width:1400px){

    header > h1{
        font-size: 3.5em;
        letter-spacing: 10px;
    }

    header > p{
        font-size: 20px;
    }

    nav{
        padding: 20px;
    }

    nav > a{
        font-size: 20px;
        margin: 15px;
    }

    nav > a:hover{
        background-color: #0583f2d5;
        color: #000000;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459);
        padding: 7px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    main{
        width: 100%;
    }

    main a:hover{
        transition-duration: 0.5s;
        color: #000000;
        background-color: white;
        text-shadow: 1px 1px 1px black;
        box-shadow: 2px 5px 0px black;
    }

    .paragrafos{
        font-size: 1.8em;
    }

    strong:hover{
        transition-duration: 0.5s;
        color: rgb(75, 75, 75);
    }

    section.imagens > .primeiro-titulo-h1{
        font-size: 2.5em;
        text-indent: 25px;
        letter-spacing: 5px;
    }

    section.imagens > .segundo-titulo-h2{
        font-size: 2.5em;
        letter-spacing: 1px;
        text-indent: 25px;
    }

    #terceiro-titulo-h1{
        font-size: 2.8em;
    }

    #quarto-titulo-h1{
        font-size: 2.8em;
    }
    
    aside{
        padding: 30px;
    }

    aside > .quarto-titulo-h3{
        font-size: 2em;
        margin-left: -30px;
        margin-right: -30px;
        margin-top: -30px;
    }

    aside > .paragrafo-aside{
        font-size: 1.7em;
    }

    abbr{
        font-size: 1.5em;
        line-height: 2em;
    }

    abbr:hover{
        color: white;
        transition-duration: 0.4s;
        text-shadow: 1px 1px 0px  rgb(0, 0, 0);
        background-color: #000a16;
        padding: 7px;
        border-radius: 5px;
        margin-left: 5px;
        box-shadow: 1px 1px 2px rgb(255, 255, 255);
    }

    #div-table{
        width: 100%;
    }

    table{
        width: 100%;
    }
    
    th{
        font-size: 1.5em;
    }

    td{
        padding: 15px;
    }

    td.nomes-modelos{
        font-size: 1.1em;
    }

    td.texto-tabela{
        font-size: 1.3em;
    }

    td.numeros-tabela{
        font-size: 1.5em;
        padding: 15px;
    }

    #titulo-tabela{
        font-size: 2em;
        letter-spacing: 3px;
    }

    #caixa-informação{
        display: block;
    }

    footer{
        padding: 20px;
        font-size: 1.5em;
        text-align: center;
    }

}