@import url(fonts.css);

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

:root{
    --cor1:#05F2F2;
    --cor2:#0583F2;
    --cor3:#035AA6;
    --cor4:#023059;
    --cor5:#011526;

    --fonte-padrao:"Mulish", sans-serif;
    --fonte-destaque: "Play", sans-serif;
    --fonte-titulo:"Merriweather Sans", sans-serif;
    --fonte-titulo-header:"Protest Guerrilla", sans-serif;
    --fonte-titulo-tabela:"Kanit", sans-serif;
    --fonte-numeros-tabela:"Roboto Mono", monospace;
    --fonte-texto-tabela:"Rubik", sans-serif;
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3), var(--cor4), var(--cor5) );
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
    width: 100%;
}

header > h1{
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-family: var(--fonte-titulo-header);
    font-size: 2em;
    margin-bottom: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.589);
    letter-spacing: 2px;
}

header p{
    color: rgba(255, 255, 255, 0.685);
    font-family:var(--fonte-titulo);
    font-size: 16px;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.363) ;
}

nav{
    background-color: var(--cor5);
    text-align: center;
    padding: 15px;
}

nav > a{
    font-weight: normal;
    font-size: 17px;
    font-family: var(--fonte-titulo);
    text-decoration: none;
    transition-duration: 0.5s;
    color: rgba(255, 255, 255, 0.671);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}

nav > a:hover{
    color: #000000;
}

main{
    background-color: rgba(255, 255, 255, 0.137);
    max-width: 1200px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

main img{
    width: 100%;
    margin-top: 20px;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.img-grande{
    max-height: 550px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.904);
    background-color: #323435a9;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
}

strong{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

a.externos:after{
    content: '\1F517';
}

.paragrafos{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 25px;
    line-height: 2em;
    font-size: 1em;
    font-family:var(--fonte-padrao);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.452);
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 3px;
}

.primeiro-titulo-h1{
    font-family: var(--fonte-destaque);
    font-size: 1.3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.781);
    text-indent: 20px;
    color: #ffffff;
    padding: 1px;
}

.segundo-titulo-h2{
    font-family: var(--fonte-destaque);
    font-size: 1em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.781);
    color: #ffffff;
    text-indent: 20px;
    padding: 1px;
    letter-spacing: 1px;
    text-align: justify;
}

#terceiro-titulo-h1{
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.849);
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.637);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -17px;
}

#quarto-titulo-h1{
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.849);
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.637);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -17px;
}

.com-imagem{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 10px;
    margin-top: 20px;
}

section.imagens{
    background-color: rgb(39, 39, 39);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

section#img001{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section#img002{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 15px;
}

section#img003{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 20px;
    border-bottom-right-radius:5px ;
    border-bottom-left-radius: 5px;
}

section#img004{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 20px;
    border-bottom-right-radius:5px ;
    border-bottom-left-radius: 5px;
}

section#img005{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: bottom bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 20px;
    border-bottom-right-radius:5px ;
    border-bottom-left-radius: 5px;
}

section#img006{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 20px;
}

section#img007{
    background-image: url(imagens/universo.fundo.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-bottom-right-radius:5px ;
    border-bottom-left-radius: 5px;
    margin-top: 20px;
}

div.videos{
    position: relative;
    background-color: #012350;
    margin: 20px -20px 30px -20px;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

div.videos > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

aside{
    background-color: #041E40;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);
}

.paragrafo-aside{
    color: white;
    line-height: 1.8em;
    font-family: var(--fonte-padrao);
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-shadow: 1px 1px 2px black;
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714';
    columns: 2;
    color: rgba(255, 255, 255, 0.884);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    font-size: 1.3em;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    font-family: var(--fonte-titulo);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    letter-spacing: 2px;
}

abbr{
    text-decoration: none;
    font-size: 17px;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    line-height: 40px;
    font-family: var(--fonte-titulo);
}

#titulo-tabela{
    background-image: linear-gradient(to right, black,  transparent);
    color:white ;
    font-size: 1.2em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.699);
    font-family: var(--fonte-titulo-tabela);
    font-weight: normal;
    text-align: left;
    margin-right: 10px;
    margin-left: -6px;
    margin-top: -10px;
    border-top-left-radius: 5px;
    padding: 10px;
}

table{
    border-collapse: collapse;
    max-width: 1200px;
    min-width: 420px;
    margin: auto;
    margin-top: 15px;
}

#div-table{
    overflow-x: auto;
    background-color: #012350c9;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
    padding: 5px;
}

th{
    background-color: rgba(0, 0, 0, 0.788);
    font-size: 1.2em;
    border: 0.3px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    font-family: var(--fonte-titulo-tabela);
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}

td{
    background-color: rgba(0, 0, 0, 0.507);
    color: rgba(255, 255, 255, 0.822);
    border: 0.3px solid black;
    padding: 5px;
    text-align: justify;
}

td.numeros-tabela{
    font-family: var(--fonte-numeros-tabela);
    font-size:14px;
    padding: 0px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255, 255, 255, 0.781);
}

td.numeros-tabela:hover{
    color: rgba(0, 0, 0, 0.836);
}

td.nomes-modelos{
    font-family: var(--fonte-titulo);
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

td.nomes-modelos:hover{
    color: #035AA6;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    transition-duration: 0.2s;
}

td.média-numero{
    color: rgb(0, 162, 255);
    font-weight: bold;
    font-family: var(--fonte-numeros-tabela);
    text-align: center;
}

td.texto-tabela{
    font-family: var(--fonte-texto-tabela);
    font-size: 1em;
    color: rgba(255, 255, 255, 0.795);
    line-height: 25px;
    text-align: justify;
}

#caixa-informação{
    display: none;
}

footer{
    padding: 10px;
    font-family: var(--fonte-destaque);
    font-size: 1.3em;
    background-color: #000000;
    color: white;
    text-align: center;
    margin-top: 30px;
}

#link-footer{
    color: white;
    font-weight: normal;
    text-decoration: none;
    transition-duration: 0.5s;
}

#link-footer:hover{
    color: #003cff;
    transition: transform .3s border 2s;
}
