@charset "UTF-8";

html{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}

header > h1{
    color: black;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
}

header > p{
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    margin-top: -30px;
    margin-bottom: 30px;
}

nav{
    display: none;
}

.paragrafos > a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.videos{
    display: none;
}

aside{
    display: none;
}

#caixa-informação{
    display: none;
}

iframe{
    display: none;
}

#paragrafo-footer > a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

